<!-- home page for users that are logged in -->
<div id="new_home">
  <button type="button" class="btn btn-warning"><%= link_to 'Add Your Home', add_new_house_path %></button>
</div>
<br>

<% if current_user.owner? %>
  <div id="main-container" class="container-fluid">
    <div id="main content" class="col-xs-6">
      <%= render 'user_recommendations' %>
    </div>
    <div id="main content" class="col-xs-6">
      <%= render 'house_recommendations' %>
    </div>
  </div>

<% else %>
  <div id="main-container" class="container-fluid">
    <div id="main content" class="col-xs-12">
      <%= render 'house_recommendations' %>
    </div>
  </div>

<% end %>
