/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";

body{
	background-image: url("background_web.jpg");
	background-size: cover;
	height: 100%;
}

.login{
	background-color: white;
	border-radius: 10px;
}

.container{

	height: 100vh;

}

.contact {
	background-color: #d3d3d3;
}

.signup, .create_account{
	margin-top: 12.5%;

}

.casa_logo{
	
	margin-left: 30%;
	margin-bottom: 20px;
}



.signin_form{
	padding-left: 22%;
	padding-bottom: 20px;
	padding-top: 20px;
}

.tabs{
	padding-top: 20px;
}

.actions{
	padding-top: 20px;
	padding-left: 60%;
	padding-bottom: 20px;
}

.control-group{
	padding-top: 20px;
}

.submit{
	background: #ffde9e;
	outline: 1;
}


.account_form{
	padding-top: 20px;
}

.field{
	padding-top: 10px;
}


.img-circle {
    border-radius: 50%;
}

.img-contact {
	vertical-align: middle;
    display: block;
    margin: auto;
    text-align: center;
}

.contact_info {
	font-size: x-small;
	display: inline;
}

.fa_contact {
	font-size: x-small;
	display: inline;
	padding-left: 4px;
}

.card-text:last-child {
	font-size: small;
}

.contact_icon {
	padding-right: 10px;
	padding-bottom: 5px;
}

.rec_contact {
	padding-top: 10px;
	padding-left: 0px;
	padding-bottom: 20px;
}

.card-title {
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Muli', sans-serif;
	font-weight: 400;
}

.house-title {
	padding-top: 10px;
}

.card-text {
	padding-top: 30px;
	padding-bottom: 30px;
}

input, button, select, textarea {
	margin: 0;
	line-height: inherit;
	border-radius: 0;
}


.account_form{
	padding-top: 20px;
}

.space{
	padding-left:25px;
}

.field{
	padding-top: 10px;
}

.navbar {
	display:inline;
}

.user_dropdown select {
	width: 130px;
}

.user_dropdown input {
	width: 130px;
}

#new_home {
	padding: 10px 0px 10px 20px;
}

#contact_user {
	padding-left: 10%;
}

#account-details {
	border-right: thin solid #000000;
}

#house-details {
	border-left: thin solid #000000;
	font-family: 'Muli', sans-serif;
}


.top_nav{
	color: white;
}

.top_nav:hover{
	color: #ffde9e;
}

.left_link{
	font-size: 160%;
}

h1{
	font-family: 'Muli', sans-serif;
	color: white;
}

h5{
	font-family: "Muli:300i", sans-serif;
	color: white;
}
.price{
	font-family: "Muli:300i", sans-serif;
}

.footer_text{
	font-family: "Muli:300", sans-serif;
	color: white;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#footer{
	background-color: #333333;
	height: 80px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.main_container{
}

.footer-container{
	display: inline-block;
}

.submit-home{
	color: black;
	text-decoration: none !important;
}

.submit-home:hover{
	color: black;
}

.nav-link{
	font-family: 'Muli', sans-serif;
}

.card{
	padding: 20px;
}

h3{
	font-family: 'Muli', sans-serif;
}

.custom-card{
	padding-right: 20px;
	padding-left: 20px;
}
